prometheus.scrape "default" {
  targets = [
    {"__address__" = "localhost:9090", "job" = "self"},
  ]
  forward_to = [prometheus.remote_write.prom.receiver]
}

prometheus.scrape "node" {
  targets = [
    {"__address__" = "localhost:9100", "job" = "node"},
  ]
  forward_to = [prometheus.remote_write.prom.receiver]
}

prometheus.remote_write "prom" {
  endpoint {
    url = "{{ alloy_remote_write_url }}"
    headers = {
      "Authorization" = "Basic {{ alloy_api_key }}"
    }
  }
}
