[Unit]
Description="Rsync essential directories backup"
Requires=network-online.target
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rsync-backup.sh
Restart=on-failure
RestartSec=5
